.login{
    width: 500px;
    margin: 50px auto;
  
}

.shopingcon{
    width: 900px;
    margin: 50px auto;
  
}

.labell{
    width: 30%;
    display: inline-block;
    
}

.inputt{
    width: 60%;
    display: inline-block;
    
}

.tabw{
width: 350px;
}

.tb{
    margin: 0px auto;
    
}

.toys{

    width: 250px;
    height: 250px;

}

.size{
    font-size: 25px;
}

.aler{

    width: 1000;
    margin: 0px auto;
}


.links{
    
    margin-left: 200px;
}


.footmain{


    margin: 20px auto;
}


  
